<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SUNMI V2s/V2s Plus printer-service package visibility -->
    <queries>
        <package android:name="woyou.aidlservice.jiuiv5" />
    </queries>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:label="Wazi POS"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.WaziPOS">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
